<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" alt="" class="img-responsive"
    style="max-inline-size: 300px">
  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div dropdown class="btn-group">
      <button type="button" dropdownToggle
      class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul *dropdownMenu class="dropdown-menu">
        <li role="menuitem"><a class="dropdown-item" style="cursor: pointer" (click)="onAddToShoppingList()">Add Ingredients to shopping List</a></li>
        <li role="menuitem"><a class="dropdown-item"  style="cursor: pointer" (click)="onEdit()">Edit Recipe</a></li>
        <li role="menuitem"><a class="dropdown-item"  style="cursor: pointer" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
