<div class="row">
  ´<div class="col-xs-10">
        <app-shopping-edit
          [ingredient]="ingredient"
        ></app-shopping-edit>
        <hr>
        <ul class="list-group">
          <a
            class="list-group-item"
            style="cursor: pointer" (click)="onEditItem(i)"
            *ngFor="let ingredient of (shoppingListState | async).ingredients; let i = index" (click)="onClickIngredientItem(ingredient)">
              {{ ingredient.name}} ({{ ingredient.amount}})
              
            </a>
        </ul>
  </div>
</div>
